@font-face {
    font-family: myfont;
    src: url(Schoolbell-Regular.ttf);
}
 
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
    font-family: myfont;

}
    
   

body{
    background-image: url(background.png);
    background-repeat: no-repeat;
    min-height: 100vh;
    max-width: 100vw;
    padding pus: 32px 64px 32px 64px  ;
}

main{
    max-width: 90vw;
    min-height: calc(100vh-128px);
    text-align: center;
    background-color: #ffffff;
    border-radius: 12px;
    border: 3px solid black;
    padding: 15px 45px 25px 45px;
   
}

section{
    margin: 32px;
    display: grid;
    grid-template-columns:  1 fr 1fr;
}

a{
    color: #8d5b1a;
    background-color: #feda70;
    font-size: 20px;
    margin: 0.5rem;
    border-radius: 12px;
}

h1{
    font-size: 28px;
    font-weight: 400;
}

.limited{
    color: brown;
}
h2{
    font-size: 56px;
    font-weight: 400;
}
p{
    font-size: 24px;
    max-width: 60ch;
    font-weight: 400;
}

article {
    height: fit-content;
    max-width: 1080px;
    margin: auto;
    display: grid;
}

article img {
  width: 100%;
  height: 550px;
  object-fit: cover;
}

.kep_es_szoveg{
    background-color: blueviolet;
    display: grid;
    grid-template-columns:  1fr 1fr;
    
}
tbody{
    text-align: center;
}


